.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  transition: all 0.3s;
}

.grid-container {
  max-width: 1100px;
  margin: auto;
  padding: 2rem 1rem;
}

.logo {
  z-index: 100;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 2rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}

.search-box {
  display: flex;
  gap: 0.7rem;
  align-items: center;
}

.search-input {
  border: 0;
  outline: 0;
  background: transparent;
}

::placeholder {
  color: #fff;
  font-size: 1rem;
}

.search-btn {
  background: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
  color: #fff;
}

.menu-toggler {
  background: transparent;
  border: 0;
  outline: 0;
  position: relative;
  width: 35px;
  height: 35px;
  display: none;
  cursor: pointer;
}

.menu-toggler span {
  background: #fff;
  height: 3px;
  width: 100%;
  display: block;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  transition: all 0.2s ease;
}

.scroll-header {
  background: #000;
}

.scroll-header .search-input {
  color: #fff;
}

.nav-menu.show > body {
  overflow-y: hidden !important;
}

@media (max-width: 700px) {
  .menu-toggler {
    display: block;
    z-index: 9999;
  }

  .nav-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: rgba(0, 0, 0, 80%);
    font-size: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    transition: all 0.3s ease-out;
  }

  .nav-content {
    flex-direction: row-reverse;
  }

  .logo {
    position: fixed;
    width: 100%;
    left: 42%;
  }

  .nav-menu.show {
    left: 0;
  }

  .close-btn > .icon-1 {
    rotate: 45deg;
    transform-origin: 20% 10%;
  }

  .close-btn > .icon-3 {
    rotate: -45deg;
    transform-origin: -10% 50%;
  }

  .close-btn > .icon-2 {
    opacity: 0;
    transition: 0.3s;
  }
}
